body{
  background: #BF7534;
}

.App{
  background: #733612;
  margin: 20px auto;
  width: 90%;
  min-width: 700px;
  color: black;
  border-radius: 5px;
  
}

.navbar{
  padding: 10px 20px;
  text-align: center;
  background: #F2CEA2;
  border-radius: 5px;
}

.navbar h1{
  margin: 10px 0;
}

.boot-list{
  margin: 20px;
  border-radius: 5px;
}

.book-list ul{
  padding: 0;
  list-style-type: none;
  border-radius: 5px;
}

.book-list li{
  background: #F2CEA2;
  border: 4px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 5px;
}

.book-list li:hover{
  opacity: 0.7;
  text-decoration: line-through;
}

.book-list .title{
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.book-list .author{
  font-size: 0.9em;
  color: grey;
}

.empty{
  margin: 20px;
  text-align: center;
}

input[type='text']{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #260801;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

input[type='submit']{
  margin: 10px auto;
  background: #F2CEA2;
  border: none;
  border-radius: 6px;
  padding: 6px 20px;
  display: block;
}
